@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

/* banner styles */
.banner_container {
  width: 1340px;
  height: 652px;
  background-image: url("./assets/Hero-bg.png");
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_text_container {
  width: 980px;
  height: 582px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 200px;

  line-height: 40px;
}

.banner_title {
  word-spacing: normal;
}

.banner_description {
  line-height: 20px;
  margin-top: 20px;
}

.banner_btn {
  border-radius: 8px;
  padding: 21px 24px 21px 24px;
  background: rgb(13, 19, 33);
  color: white;
  margin-top: 20px;
}

/* why dev styles */
.why_dev_container {
  width: 1140px;
  height: 1040px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.why_dev_title {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.why_dev_description {
  color: rgb(13, 19, 33);

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

.do_coding_container {
  
  display: flex;
  flex-direction: flex-start;

  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  text-align: left;
  padding: 0 30px;
}

.do_coding_container p {
  margin-top: 10px;
  color: rgb(13, 19, 33);

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.do_coding_container h3 {
  color: rgba(13, 19, 33, 0.7);

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.do_coding_title {
  text-align: left;
}

.do_coding_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.why_do_btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

/* help people section */
.help_people_container {
  
  display: flex;
  flex-direction: flex-start;

  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  text-align: left;
  padding: 0 30px;
  border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.frame{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}

.help_people_container img {
  margin-right: 20px;
}

.help_people_container h3 {
  color: rgba(13, 19, 33, 0.7);

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.help_people_container p {
  color: rgb(13, 19, 33);

  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}

/* inspiration styles */

.inspiration_container {
  width: 1140px;
  height: 650px;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

.inspiration_container h3 {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.inspiration_container p {
  color: rgb(13, 19, 33);

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* target styles */

.target_container {
  width: 1140px;
  height: 463px;
 
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 111px 0px; 
  
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.target_field{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
  
}

.target_content{

  text-align: left;
  border-radius: 16px;
  padding: 30px;
  line-height: 20px;

background: rgba(255, 76, 30, 0.05);
color: rgb(13, 19, 33);

font-size: 10px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}


.target_content2{
  border-radius: 16px;
  padding: 30px;
  line-height: 30px;

background: rgba(0, 76, 232, 0.05);

color: rgb(13, 19, 33);

font-size: 10px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.target_content3{
  line-height: 30px;
  padding: 30px;
  border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
color: rgb(13, 19, 33);

font-size: 10px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.target_container h4{
  color: rgb(13, 19, 33);

font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}


/* need support styles */

.support_container{
  border-radius: 16px;


background:
 url('./assets/handshake.jpg');

margin: 0 auto;
margin-top: 50px;
width: 1140px;
height: 314px;
background-position: center;
background-size: cover;





}

.support_input_container{

width: 1044px;
height: 186px;

margin: 0 auto;
margin-top: 50px;
padding-top: 100px;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */


}

.support_container h3{
  color: rgb(255, 255, 255);
  
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.support_container p{
  color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;



opacity: 0.7;

}

.support_container input{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}

.support_container_input_field{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inp{
  width: 548px;
height: 57px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


flex: none;
order: 0;
flex-grow: 0;
margin: 20px 16px;
}

.sub{
  position: static;
width: 120px;
height: 58px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;


flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;

font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.footer_name{
  
  color:black;
  
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}


.footer_section_container{
  border-radius: 16px;
  margin-top: 30px;

background: rgba(13, 19, 33, 0.03);


width: 1340px;
height: 100px;

display: flex;

justify-content: space-between;
align-items: flex-start;
padding: 32px 150px 32px 150px;
margin: 0 auto;


}
.footer_img{
  width: 157.01px;
height: 36px;

display: flex;
/* flex-direction: row;
justify-content: flex-start; */
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}